<div>
  <div class="card">
    <div class="card-divider">
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-10 cell">
            <h4>TableTOP Chat</h4>
          </div>
          <div class="small-2 cell">
            <button type="button" class="alert button">Clear</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div *ngFor="let message of messages">
        <p class="chat-message">
          {{message.name}}: {{message.text}}
        </p>
      </div>
    </div>
  </div>
  <form #form="ngForm" (ngSubmit)="sendMessage(form.value)">
    <div class="grid-x">
      <div class="small-8 cell">
        <input type="text" id="name" required name="name" placeholder="Enter a name..." ngModel>
      </div>
      <div class="small-4 cell">
        <button type="submit" class="button">Enviar</button>
      </div>
      <div class="small-12 cell">
        <textarea rows="2" id="text" required name="text" placeholder="Enter a message..." ngModel></textarea>
      </div>
    </div>
  </form>
</div>