<div>
  <div class="card">
    <div class="card-divider">
      <h4 class="text-center">
        TableTOP Chat
        <button type="button" class="alert button">Clear</button>
      </h4>
    </div>
    <div class="card-section">
      <div *ngFor="let message of messages">
        <p class="chat-message">
          {{message.name}}: {{message.text}}
        </p>
      </div>
    </div>
  </div>
  <input type="text" placeholder="Enter a name...">
  <input ng-keydown="" type="text" placeholder="Enter a message...">
</div>