<div id="utils">
  <div class="grid-x">
    <button id="minimize" class="large-2 cell button"><</button>
    <button id="chat" class="large-2 cell button">Chat</button>
    <button id="sheet" class="large-2 cell button">Sheet</button>
    <button id="tools" class="large-2 cell button">Tools</button>
    <button id="configs" class="large-2 cell button">Config</button>
    <button id="clear" class="large-2 cell alert button">Clear</button>
  </div>
  <div id="status"></div>
  <div id="chatbox">
      <input type="text" id="username" placeholder="Enter name...">
      <div class="card">
          <div id="messages" class="card-section">

          </div>
      </div>
      <textarea id="textarea" placeholder="Enter message..."></textarea>
  </div>
</div>