.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.character-sheet-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form, .editor, .sheet-preview {
    margin: 5px;
    border: 2px solid lightgray;
    padding: 5px;
    min-width: 300px;
}

.radio-btn {
    margin-right: 15px;
}

.add-button {
    margin-top:15px;
    left: 85%;
}

.title {
    display: inline-flex;
}

.title button {
    top: 10px;
}

.sheet-preview {
    width: 60%;
}
