<div class="character-sheet-editor">
  <div class="form">
    <h2>Sheet Builder</h2>
    <dynamic-form [fields]="sheetOptions" (submit)="submit($event)"></dynamic-form>
    <br>
    {{form.value | json}}
  </div>
  <div class="editor">
    <div class="title">
      <h3>Dictionaries</h3>
      <button mat-icon-button color="primary" (click)="createDictionary()"><mat-icon>add_circle</mat-icon></button>
    </div>
    <dynamic-form [fields]="fieldEditor" (submit)="submit($event)"></dynamic-form>
  </div>
  <div class="sheet-preview">
    <h3>Preview</h3>
    <dynamic-form [fields]="sheetPreview" (submit)="submit($event)"></dynamic-form>
  </div>
</div>