@import 'palette';



.mat-subheader {
  width: 100%;
}


:host ::ng-deep .mat-list-item {
  min-height: 48px;
  height: auto;
}

// List
.sheet-container {
  background-color: $blackOlive;
  border-radius: 5px;
  margin: 5px auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
}

// list item
:host(.gt) {
  // Gargantuan
  width: 100%;
}
:host(.hg) {
  // Huge
  width: 75%;
}

// Large
:host(.lg) {
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 50%;
  }
}
// Medium
:host(.md) {
  width: 50%;
  @media screen and (min-width: 992px) {
    width: 33%;
  }
}
// Small
:host(.sm) {
  width: 33%;
  @media screen and (min-width: 992px) {
    width: 25%;
  }
}
// Tiny
:host(.tn) {
  width: 25%;
  ::ng-deep .sheet-input {
    text-align: center;
  }

  @media screen and (min-width: 992px) {
    width: 10%;
    ::ng-deep .sheet-input {
      text-align: center;
    }
  }
}

:host(.auto) {
  width: auto;
}

// skill
.skill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3.25rem;

  ::ng-deep .mat-form-field-label-wrapper {
    width: 10ch;
    label {
      transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
    }
  }

  .skill-input-field {
    margin: 8px 1px 0 2px;
    width: 3ch;
  }
  .skill-input {
    text-align: center;
  }
  .skill-label {
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.78em;
  }
}
// checkbox
.sheet-checkbox-container {
  .sheet-checkbox {
    margin: 0 5px;
  }
}

// input
.sheet-input {
  width: 100%;
}

// select
.sheet-select {
  width: 100%;
}

// list item
.list-item-container {
  width: 100%;
}
