:host { 
    width: 100%;
}

:host.gt { // Gargantuan
    width:100%;
}
:host.hg { // Huge
    width: 75%
}
:host.lg { // Large
    width:50%;
}
:host.md { // Medium
    width:33%;
}
:host.sm { // Small
    width:25%;
}
:host.tn { // Tiny
    width:10%;
    ::ng-deep .sheet-input {
        text-align: center;
        .sheet-input-text {
            text-align: end;
        }
    }
}

:host.auto{
    width: auto;
}

// List item
.full-width {
    width: 100%;
}

// skill
.skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    ::ng-deep .mat-form-field-label-wrapper {
        width: 180%;
    }

    .skill-input-field {
        margin: 8px 1px 0 2px;
        width: 5ch;
    }
    .skill-input{
        text-align: center;
    }
    .skill-label {
        width: 14ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .78em;
    }
}
// checkbox
.sheet-checkbox-container{
    width: min-content;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    .sheet-checkbox {
        margin: 0 5px;
    }
}