.top-bar {
    height: 100px;
}

.top-bar, .menu {
    background-color: #000;
}
.menu-text {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    padding: 0;
}

.menu img {
    height: 80px;
}

.menu-text a {
    padding: 0 10px;
}

nav div ul li a {
    color: rgba(255,255,255,.5);
    transition: color 0.1s linear;
    font-weight: 60;
}

nav div ul li:hover a {
    color: rgba(255,255,255,1);
}

#container {
    margin: 0;
    padding: 0;
}