* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.top-bar {
    height: 100px;
}

.top-bar, .menu {
    background-color: #000;
}
.menu-text {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    padding: 0;
}

.menu img {
    height: 80px;
}

.top-bar .menu li {
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-text a {
    padding: 0 10px;
}

nav div ul li a {
    color: rgba(255,255,255,.75);
    transition: color 0.1s linear;
    font-weight: 60;
}

nav div ul li:hover a {
    color: rgba(255,255,255,1);
}

:host ::ng-deep nav div ul li .active-link {
    border-width: 1px 0;
    border-color: #ffffff;
    border-style: solid;
}

:host ::ng-deep nav div ul li .logo.active-link {
    border: 0;
}

#container {
    margin: 0;
    padding: 0;
}