<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Chaotic Studio</li>
      <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
      <li><a routerLink="/tabletop" routerLinkActive="active-link">Tabletop</a></li>
      <li><a routerLink="/tools" routerLinkActive="active-link">RPG Tools</a></li>
      <li><a routerLink="/events" routerLinkActive="active-link">events</a></li>
      <li><a routerLink="/special" routerLinkActive="active-link">special</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active-link">Register</a></li>
    </ul>
  </div>
</nav>
<div id="container" class="grid-container fluid">
  <router-outlet></router-outlet>
</div>