<h2>Character Sheet</h2>
<hr />
<div class="character_sheet_display" *ngFor="let key of characterSheetKeys">
  <div class="label">{{ key }}</div>
  <div class="label value">{{ characterSheetObject[key] }}</div>
</div>
<hr/>
<div class="character_sheet_selector">
  <form>
    <input type="text" id="character-sheet-owner" placeholder="Nome">
    <input class="small-2 large-2 cell success button" type="submit" value="Enviar" (click)="loadUser()">
  </form>
</div>
<hr />
<div class="character_sheet_editor">
  <h2>Character Sheet Editor</h2>
  <form>
    <label>
      <input type="file" id="template-import" name="template-import" class="import-template" />
      <input class="small-2 large-2 cell success button" type="submit" value="Importar" (click)="importFields()">
    </label>
  </form>
  <button class="small-2 large-2 cell success button" (click)="exportFields()">Exportar</button>
  <form>
    <input type="text" id="character-sheet-edit-owner" placeholder="Nome">
    <div class="sheet-fields">
    </div>
    <select id="sheet-fields-type">
      <option value="text">Texto</option>
      <option value="number">Numero</option>
    </select>
    <input type='submit' class="small-6 large-6 cell button" (click)="addField()" value="Add Field" />
    <input class="small-2 large-2 cell success button" type="submit" value="Enviar" (click)="saveFields()">
  </form>
</div>