/* RGB */
$white: rgba(251, 255, 254, 1);
$dimGray: rgba(109, 103, 110, 1);
$blackOlive: #3C393C;
$brandPrimary: rgba(255, 126, 0, 1);
$eerieBlack: rgba(27, 27, 30, 1);
$smokyBlack: #0F0F11;
$heidelbergRed: rgba(150, 3, 26, 1);