@import '~@angular/material/theming';
@import 'palette';
// Plus imports for other components in your app.

/* For use in src/lib/core/theming/_palette.scss */
$md-orange: (
    50 : #fff0e0,
    100 : #ffd8b3,
    200 : #ffbf80,
    300 : #ffa54d,
    400 : #ff9126,
    500 : $brandPrimary,
    600 : #ff7600,
    700 : #ff6b00,
    800 : #ff6100,
    900 : $heidelbergRed,
    A100 : $white,
    A200 : #fff5f2,
    A400 : #ffcfbf,
    A700 : #ffbba6,
    contrast: (
        50 : $eerieBlack,
        100 : $eerieBlack,
        200 : $eerieBlack,
        300 : $eerieBlack,
        400 : $eerieBlack,
        500 : $white,
        600 : $white,
        700 : $white,
        800 : $white,
        900 : $white,
        A100 : $eerieBlack,
        A200 : $eerieBlack,
        A400 : $eerieBlack,
        A700 : $eerieBlack,
    )
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$light-primary: mat-palette($mat-orange);
$light-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);

// Define the alternate light theme.
.light-side-theme {
    @include angular-material-theme($light-theme);
}

// Include an default dark theme.
$dark-primary: mat-palette($md-orange);
$dark-accent:  mat-palette($mat-deep-orange);
$dark-warn:    mat-palette($mat-amber, A200, A100, A400);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-side-theme {
    @include angular-material-theme($dark-theme);
    background-color: $eerieBlack;
    .mat-expansion-panel {
        background-color: $blackOlive
    }
}
