<div id="utils">
  <div class="menu">
    <button (click)="collapse()" id="minimize" class="button"> &#8918; </button>
    <button (click)="setTab(1)"  id="chat"     class="button">Chat</button>
    <button (click)="setTab(2)"  id="sheet"    class="button">Sheet</button>
    <button (click)="setTab(3)"  id="tools"    class="button">Tools</button>
    <button (click)="setTab(4)"  id="configs"  class="button">Config</button>
  </div>
  <div class="tabs" *ngIf="option != 0">
    <div class="chat"    *ngIf="option == 1"> <app-chat></app-chat> </div>
    <div class="sheet"   *ngIf="option == 2"> <app-character-sheet></app-character-sheet> </div>
    <div class="tools"   *ngIf="option == 3"> <app-tools></app-tools> </div>
    <div class="configs" *ngIf="option == 4"> Aba das configurações </div>
  </div>
</div>