/* home css */

@charset 'uft-8';
@import url('https://fonts.googleapis.com/css?family=Electrolize|Press+Start+2P');
//@import '~_variables.scss'
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        //border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size * 0.6 solid $color;
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

.main{
    background: #ff7e00;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    line-height: 1.5;
    
    & > * {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    font-family: 'Press Start 2P';
}

.triangle {
    $triangleSize: 30px;
    $trianglePadding: 1px;
    @include css-triangle(#0d1014, down, $triangleSize);
    $trianglePerRow: 7;
    $spacingY: 51px;
    $index: 1;
    @for $i from 1 through $trianglePerRow {
        $spacingX: 1px;
        @for $j from 1 through $trianglePerRow + 1 - $i {
            &:nth-child(#{$index}){
                top: $spacingY;
                left: $spacingX;
            }
            $spacingX: $spacingX + $triangleSize + $trianglePadding;
            $index: $index + 1;
        }
        
        $spacingY: $spacingY + $triangleSize * 0.6 + $trianglePadding;
     }
}

.scene {
    margin: 10px auto;
}

section {
    &:nth-child(2n+1) {
        background-color: #0d1014;
    }
}

img {
    display: block;
    width: 95%;
    height: auto;
}
