@charset 'uft-8';
@import url('https://fonts.googleapis.com/css?family=Electrolize|Press+Start+2P');

.container{
    margin: 0;
    font-family: 'Electrolize', sans-serif;
    background: #ff7e00;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

input, textarea {
    background-color: rgb(51, 51, 51);
    border: 0;
    color: #ffffff;
}

input:focus{
    background-color: rgb(51, 51, 51);
}

button:focus {
    box-shadow: 0 0 5px #48c5ff;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: .5em 0;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-shadow: #ffffff 2px 2px;
}

h2, h3 {
    font-family: 'Electrolize', sans-serif;
}

header{
    height: 400px;
    color: #ffffff;
}

.sideSquares {
    position: absolute;
    left: -4.965622612681436vw;
    width: 7.792207792207792vw;
    height: 85px;
    color: #0d1014;
    background-color: currentColor;
    border-radius: 2px;
    box-shadow: 6.875477463712758vw    0, 14.362108479755540vw    0, 20.626432391138273vw    0,
                83.26967150496563vw    0, 88.006111535523300vw    0, 95.492742551566080vw    0, 102.97937356760886vw    0,
                
                4.889228418640183vw 85px, 12.375859434682964vw 85px, 18.334606569900690vw 85px,
                80.51948051948052vw 85px, 88.006111535523300vw 85px, 95.492742551566080vw 85px, 102.97937356760886vw 85px,

                4.889228418640183vw 170px, 12.375859434682964vw 170px, 19.862490450725744vw 170px, 21.008403361344538vw 170px,
                88.00611153552330vw 170px, 95.492742551566080vw 170px, 102.97937356760886vw 170px,

                4.889228418640183vw 255px, 12.375859434682964vw 255px, 15.278838808250573vw 255px,
                84.03361344537815vw 255px, 88.0061115355233vw 255px, 95.49274255156608vw 255px, 102.97937356760886vw 255px,

                4.889228418640183vw 340px, 12.375859434682964vw 340px, 18.181818181818183vw 340px,
                86.32543926661573vw 340px,88.0061115355233vw 340px, 95.49274255156608vw 340px, 102.97937356760886vw 340px;
    z-index: 1;
}

.bg-image{
    position: absolute;
    background: url('https://pbs.twimg.com/profile_banners/45987422/1459710431/1500x500');
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

header h1 {
    padding-top: 100px;
    padding-bottom: 0;
    color: #000;
}

header p {
    text-shadow: 1px 1px #000;
}

.content-wrap{
    position: relative;
    z-index: 1;
}

header .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
}

#section-a ul,
#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-a li,
#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

#section-a,
#section-c {
    background: #0d1014;
    color: #fff;
    padding-bottom: 2em;
}

#section-a h1,
#section-c h1 {
    text-shadow: #000 2px 2px;
}

#section-b {
    padding: 2em 1em 1em;
}

#section-c {
    padding: 2em 1em;
}

.card-content {    
    padding: 1.5em;
}

.card-content p {
    padding: 1em 1em 0;
    text-align: justify;
}

textarea {
    resize: none;
}

footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

@media(min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap, 
    #section-a ul,
    #section-b ul {
        grid-column: 2/4;
    }

    header h1 {
        padding-top: 15px;
        word-spacing: -20px
    }

    header p {
        padding: 2rem 0;
    }

    header .content-wrap {
        grid-column: 1;
        padding: 0 19px;
        width: 335px;
        text-align: left;
    }

    #section-a ul {
        display: flex;
        flex-direction: column;
    }
    #section-a ul:nth-child(odd){
        grid-column: 1;
    }
    #section-a ul:nth-child(even){
        grid-column: 2;
    }

    .card-content{
        display: flex;
        align-items: center;
    }
    
    .card-content p {
        padding: 0 0 0 1em;
    }

    #section-b ul {
        display: flex;
    }

    #section-b li {
        min-width: 31%;
        justify-content: space-around;
    }

}