<div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-9 cell">
        <h1 class="text-left">Chaotic News</h1>
        <br>
        <p class="callout large" style="height: 70%">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione culpa sint eveniet dolore autem temporibus, sunt aliquid soluta facere eos fugit consequatur necessitatibus repellendus, distinctio et, obcaecati reiciendis maiores illum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur rem quos placeat, dignissimos quo magnam? Alias, ex? Porro, optio nulla aperiam ratione accusantium vitae aut. Sequi voluptate odit alias velit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quasi, iusto commodi autem officia nihil dolor incidunt dignissimos nulla ab laborum praesentium voluptatibus! Recusandae similique quis amet porro vero soluta?
        </p>
      </div>
      <div class="large-3 cell callout">
        <h3>This side bar will have some nice info :)</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque deleniti soluta vero saepe quam laboriosam quos asperiores id minus. Laboriosam omnis sit voluptates nisi velit ipsum, aliquid itaque aut facere?
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque deleniti soluta vero saepe quam laboriosam quos asperiores id minus. Laboriosam omnis sit voluptates nisi velit ipsum, aliquid itaque aut facere?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque deleniti soluta vero saepe quam laboriosam quos asperiores id minus. Laboriosam omnis sit voluptates nisi velit ipsum, aliquid itaque aut facere?
        </p>
      </div>
    </div>
  </div>
  <footer class="text-center">Chaotic Games &copy; - 2018</footer>