<div class="container">
  <header id="header" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>O Caos</h1>
      <p>A Chaotic Games é um estúdio de jogos independente brasileiro, nosso foco é proporcionar a melhor experiencia de jogabilidade possível e com gráficos estilizados estonteantes.</p>
    </div>
  </header>
  <main id="main">
    <section id="section-a" class="grid">
      <div class="content-wrap">
        <h1 class="content-title">Projetos</h1>
        <ul class="grid">
          <li>
            <div class="card">
              <div class="card-content">
                <h2 class="card-title">Kaizer Knights</h2>
                <p>É um jogo RPG Hack n Slash com o intuito de fornecer uma experiencia de feiticeiro ao jogador, no sentido em que o mesmo pode customizar suas habilidades magicas ou mesmo ser um grande guerreiro formando seus próprios combos</p>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <h2 class="card-title">RPG Tools</h2>
                <p>São um conjunto de ferramentas para jogadores e mestres de RPG de Mesa, seja para jogarem totalmente online ou apenas genrenciar seus personagens ou ordem de combate.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <div class="card-content">
                <img src="../../assets/logo.png" alt="Warriors of the Legendary Wizards" title="Warriors of the Legendary Wizards">
                <p>Um rpg clássico em rpg maker, batalhas por turnos e muita história a ser descoberta.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="section-b" class="grid">
      <div class="content-wrap">
        <h1 class="content-title">Equipe</h1>
        <ul>
          <li>
            <div class="card">
              <div class="card-content">
                <!--h3 class="card-title">Douglas M de Almeida</h3-->
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="dougbyte"><a class="LI-simple-link" href='https://br.linkedin.com/in/dougbyte?trk=profile-badge'>Douglas Morriesen de Almeida</a></div>
                <p>Sou um programador atualmente bacharelando de ciência da computação, sempre gostei de tecnologia e principalmente jogos, um dia me perguntei como eles eram feitos e acabei por me apaixonar com programação e comecei desenvolver pequenos projetos em rpg maker xp, o principal   motivo de escolher o curso de ciência da computação foi justamente por querer melhorar minhas habilidades de programação, e com isso desenvolver jogos mais otimizados para as plataformas atuais, atualmente estou trabalhando em meu projeto pessoal Kaizer Knights um Action-RPG o qual poderá ser visto em mais detalhes no site, e faço parte da equipe KrakenLab com desenvolvedor front-end (programação de game-play e criação de assets gráficos) em um projeto de MMORPG tático.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h1 class="content-title">Contato</h1>
        <form>
          <input type="email" name="email" id="femail" placeholder="Digite seu email">
          <input type="text" name="title" id="ftitle" placeholder="Sobre o que gostaria de tratar?">
          <textarea name="textarea" id="ftextarea" placeholder="Digite sua mensagem.." rows="10"></textarea>
        </form>
      </div>
    </section>
  </main>
  <footer id="footer" class="grid">
    <div>Chaotic Games &copy; - 2018</div>
    <div>Project By Douglas Morriesen de Almeida</div>
  </footer>
</div>