<!--div class="grid-x">
  <div class="medium-6 cell">
    <div class="card">
      <div class="card-title">
        <h3>Register</h3>
      </div>
      <div class="card-content">
        <form class="form">
          <label for="email">Email</label>
          <input [(ngModel)]="registerUserData.email" name="email" type="email" id="email" required>
          <label for="username">Username</label>
          <input [(ngModel)]="registerUserData.username" name="username" type="text" id="username" required>
          <label for="password">Password</label>
          <input [(ngModel)]="registerUserData.password" name="password" type="password" id="password" required>
          <button (click)="registerUser()" type="button" class="button">Register</button>
        </form>
      </div>
    </div>
  </div>
</div-->
<div class="form">
  <div style="text-align:center">
    <h1>
      Registration Form
    </h1>
  </div>
  <dynamic-form [fields]="regConfig" (submit)="submit($event)">
  </dynamic-form>
  <div class="margin-top">
    {{ form.value | json }}
  </div>
</div>